[submodule "Libraries/lewis"]
	path = Libraries/lewis
	url = git@github.com:DefProc/lewis.git
[submodule "Libraries/StepperDriver"]
	path = Libraries/StepperDriver
	url = git@github.com:laurb9/StepperDriver.git
[submodule "Libraries/OneButton"]
	path = Libraries/OneButton
	url = git@github.com:mathertel/OneButton.git
[submodule "Libraries/Bounce2"]
	path = Libraries/Bounce2
	url = git@github.com:thomasfredericks/Bounce2.git
[submodule "Libraries/libhydrogen"]
	path = Libraries/libhydrogen
	url = git@github.com:jedisct1/libhydrogen.git
[submodule "Libraries/TinyGPSPlus"]
	path = Libraries/TinyGPSPlus
	url = git@github.com:mikalhart/TinyGPSPlus.git
[submodule "Libraries/easyMesh"]
	path = Libraries/easyMesh
	url = git@github.com:Coopdis/easyMesh.git
[submodule "Libraries/TinyGSM"]
	path = Libraries/TinyGSM
	url = git@github.com:vshymanskyy/TinyGSM.git
[submodule "Libraries/Webduino"]
	path = Libraries/Webduino
	url = git@github.com:sirleech/Webduino.git
[submodule "Libraries/DHT-sensor-library"]
	path = Libraries/DHT-sensor-library
	url = git@github.com:adafruit/DHT-sensor-library.git
[submodule "Libraries/Arduino-IRremote"]
	path = Libraries/Arduino-IRremote
	url = git@github.com:z3t0/Arduino-IRremote.git
[submodule "Libraries/ArduinoJson"]
	path = Libraries/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "Libraries/Adafruit_SHT31"]
	path = Libraries/Adafruit_SHT31
	url = git@github.com:adafruit/Adafruit_SHT31.git
[submodule "Libraries/Flash"]
	path = Libraries/Flash
	url = https://github.com/mikalhart/Flash.git
[submodule "Libraries/FlexiTimer2"]
	path = Libraries/FlexiTimer2
	url = git@github.com:PaulStoffregen/FlexiTimer2.git
[submodule "Libraries/MsTimer2"]
	path = Libraries/MsTimer2
	url = git@github.com:PaulStoffregen/MsTimer2.git
[submodule "Libraries/Chrono"]
	path = Libraries/Chrono
	url = git@github.com:SofaPirate/Chrono.git
[submodule "Libraries/StringStream"]
	path = Libraries/StringStream
	url = git@github.com:SofaPirate/StringStream.git
[submodule "Libraries/Plaquette"]
	path = Libraries/Plaquette
	url = git@github.com:SofaPirate/Plaquette.git
[submodule "Libraries/Time"]
	path = Libraries/Time
	url = git@github.com:PaulStoffregen/Time.git
[submodule "Libraries/Tone"]
	path = Libraries/Tone
	url = git@github.com:bhagman/Tone.git
[submodule "Libraries/LedDisplay"]
	path = Libraries/LedDisplay
	url = git@github.com:PaulStoffregen/LedDisplay.git
[submodule "Libraries/Adafruit-GFX-Library"]
	path = Libraries/Adafruit-GFX-Library
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "Libraries/CapacitiveSensor"]
	path = Libraries/CapacitiveSensor
	url = git@github.com:PaulStoffregen/CapacitiveSensor.git
[submodule "Libraries/Mozzi"]
	path = Libraries/Mozzi
	url = git@github.com:sensorium/Mozzi.git
[submodule "Libraries/FrequencyTimer2"]
	path = Libraries/FrequencyTimer2
	url = git@github.com:sensorium/FrequencyTimer2.git
[submodule "Libraries/MIDI"]
	path = Libraries/MIDI
	url = git@github.com:FortySevenEffects/arduino_midi_library.git
[submodule "Libraries/jeelib"]
	path = Libraries/jeelib
	url = git@github.com:jeelabs/jeelib.git
