[submodule "Libraries/Flash"]
	path = Libraries/Flash
	url = https://github.com/mikalhart/Flash.git
[submodule "Libraries/ucglib"]
	path = Libraries/ucglib
	url = https://github.com/olikraus/ucglib
